<template>
  <tfoot id="my-cart-footer">
    <tr>
      <th colspan="6">Empty product in your cart</th>
    </tr>
    <tr>
      <td colspan="4">There are <b>5</b> items in your shopping cart.</td>
      <td colspan="2" class="total-price text-left">12 USD</td>
    </tr>
  </tfoot>
</template>

<script>
export default {
  name: "cart-footer"
};
</script>

<style></style>
