<template>
  <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h1 class="panel-title">Your Cart</h1>
      </div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th width="4%">#</th>
              <th>Pokemon</th>
              <th width="15%">Price</th>
              <th width="4%">Quantity</th>
              <th width="20%">Subtotal</th>
              <th width="25%">Action</th>
            </tr>
          </thead>
          <!-- CART BODY -->
          <cart-body />

          <!-- CART FOOTER -->
          <cart-footer />
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import CartBody from "./CartBody.vue";
import CartFooter from "./CartFooter.vue";
export default {
  components: { CartBody, CartFooter },
  name: "cart-wrapper"
};
</script>

<style></style>
