<template>
  <div class="media product">
    <div class="media-left">
      <a href="#">
        <img class="media-object" v-bind:src="defineImage" alt="charmander" />
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{ product.name }}</h4>
      <p>
        {{ product.summary }}
      </p>
      <template v-if="product.canBuy">
        <input name="quantity-product-1" type="number" value="1" min="1" />
        <a data-product="1" href="#" class="price"> {{ product.price }} USD </a>
      </template>

      <template v-else>
        <a
          style="backgroundColor:gray; cursor: no-drop;"
          data-product="1"
          href="#"
          class="price"
        >
          {{ product.price }} USD
        </a>
      </template>
    </div>
  </div>
</template>

<script>
export default {
  name: "product-list-item",
  props: {
    product: {
      type: Object,
      default: null
    }
  },

  computed: {
    defineImage() {
      return `../../dist/images/${this.product.image}`;
    }
  }
};
</script>

<style></style>
