<template>
  <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1 class="panel-title">List Products</h1>
      </div>
      <div class="panel-body" id="list-product">
        <product-list-item
          v-for="product in productList"
          v-bind:key="product.id"
          v-bind:product="product"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import state from "../store/product/state";
import ProductListItem from "./ProductListItem.vue";
export default {
  components: { ProductListItem },
  data() {
    return {};
  },
  name: "product-list",
  methods: {},
  computed: {
    ...mapState({
      productList: state => state.product.productList
    })
  }
};
</script>

<style></style>
