<template>
  <div id="app">
    <div class="container">
      <div class="page-header">
        <h1>Project 02 - Shopping Cart <small>VueJS + VueX</small></h1>
      </div>

      <div class="row">
        <!-- LIST PRODUCE -->
        <product-list />

        <!-- CART WRAPPER -->
        <cart-wrapper />
      </div>
    </div>
  </div>
</template>

<script>
import CartWrapper from "./components/CartWrapper.vue";
import ProductList from "./components/ProductList.vue";
export default {
  name: "app",
  components: { ProductList, CartWrapper },
  data() {
    return {};
  }
};
</script>

<style>
.notifications {
  padding-right: 10px;
  padding-bottom: 10px;
}
</style>
